{% extends 'base.html' %}
{% load static %}

{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Asistente Responsable</th>
                            <th>ID Profesor</th>
                            <th>Nombre del Profesor</th>
                            <th>Fecha y Hora de Entrada</th>
                            <th>Fecha y Hora Salida</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Asistente Responsable</th>
                            <th>ID Profesor</th>
                            <th>Nombre del Profesor</th>
                            <th>Fecha y Hora de Entrada</th>
                            <th>Fecha y Hora Salida</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for attendance in attendances%}
                        <tr>
                            <td>{{ attendance.assistant.user.username }}</td>
                            <td>{{ attendance.id }}</td>
                            <td>{{ attendance.professor.name }}</td>
                            <td>{{ attendance.timestamp</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}